@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Volkhov:400italic,700);
body{
		font-family: "PT Sans Narrow", Arial, sans-serif;
	
	}
	 .label.label-primary:hover {
	cursor:pointer;}
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {min-height: 700px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
	  min-height: 700px;
    }
    
    /* Set black background color, white text and some padding */
   
	.jumbotron {
		
	padding-top: 0px;
	padding-bottom: 0px;
	margin:0px;
	background-color:#2f2f2f;
	 height:180px;
	border-bottom: thick solid #9bc925;/*	border-bottom:1px thick #9bc925;*/

}
    .container-fluid .row.content .col-sm-3.sidenav .list-group .list-group-item.active{
		background-color:#2f2f2f;
		border-color:#9bc925;
		color:#9bc925;
		}
		 
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
		 
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
   
	}
  .container-fluid .row.content .col-sm-3.sidenav .list-group {
	margin-top: 20px;
}
  footer.container-fluid {
		padding-top: 0px;
	padding-bottom: 0px;
	margin:0px;
	background-color:#2f2f2f;
	 height:80px;
	 color:white;
	border-top: thick solid #9bc925;
}
  .container-fluid h4 {
	margin-right: auto;
	margin-left: auto;
}.jumbotron .jumbo-icerik {
	margin-left:auto; margin-right:auto; width:150px;
}
.container-fluid h4 {
	width: 500px;
}
.container-fluid .row.content .col-sm-9 #myModal .modal-dialog .modal-content .modal-header .modal-title {
	color: #9bc925;
}
